/* General colour scheme
 ----------------------------------------------------------------*/

body {
    background: #fff;
    color: #333;
}

.brd a:link, .brd a:visited {
    color: #00579C;
}

.brd a:hover, .brd a:active, .brd a:focus {
    color: #b42000;
    text-decoration: none;
}

.brd .main-pagepost a:link, .brd .crumbs a:link,
.brd .main-pagepost a:visited, .brd .crumbs a:visited {
    text-decoration: none;
}

.brd .main-pagepost a:hover, .brd .crumbs a:hover,
.brd .main-pagepost a:active, .brd .crumbs a:active,
.brd .main-pagepost a:focus, .brd .crumbs a:focus {
    text-decoration: underline;
}

.brd .gen-content, .brd .main-content {
    background: #fbfbfb;
    border-color: #DFE6ED;
    border-bottom-color: #CBD1D8;
}

.brd .main-pagepost {
    background: #fff;
    border-color: #DDE4EB;
}

.brd .crumbs {
    background: #fff;
    border-color: #fff;
}


.brd .main-item, .brd .main-item li, .brd .main-item div, .brd td {
    border-color: #DDE4EB;
}

.brd .main-item li.info-posts,
.brd .main-item li.info-replies,
.brd .main-item li.info-views,
.brd .main-item li.info-topics {
}

.brd .main-content .main-item .item-nav {
    color: #888;
}

.brd .main-content .sticky {
    background: #F2F4FA;
}

.brd .main-content .main-item .hn .item-status em.sticky {
    color: #314B60;
    font-weight: bold;
}

.brd .main-content .main-item .hn .item-status em.closed {
    color: #314B60;
    font-weight: bold;
}

.brd .main-content .main-item .hn .item-status em.moved {
    color: #314B60;
    font-weight: bold;
}

.brd .post * {
    border-color: #DDE4EB
}

.brd .post {
    border-color: #DDE4EB;
    border-top-color: #fff;
    border-bottom-color: #ccc;
}

#topic-review .firstpost, .brd .singlepost {
    border-top-color: #DDE4EB;
    border-bottom-color: #DDE4EB;
}

.brd .post {
    background: #EDF1F5;
}

.brd .posthead, .brd .postbody, .brd .post-options {
    background: #f9f9f9;
}

.brd .posthead .hn {
    background: #E9EBEE;
}

.brd .online .userstatus span {
    border-color: #517CA1;
}

.brd .ct-box, .brd .ct-set, .brd .ct-group, .brd .user-box {
    background: #EDF1F5;
    border-color: #DBE0E4;
}

.brd #brd-announcement .user-box {
    background: transparent;
}

.brd .warn-group, .brd .warn-set, .brd .warn-box, .brd .error-box {
    background: #FEFFE6;
    border-color: #F4EBCE;
}

.brd .warn-group, .brd .warn-set, .brd .warn-box, .brd .error-box {
    border-color: #E6D190;
}


.brd ul.info-list li {
    color: #6A97BF;
}

.brd ul.info-list li span {
    color: #666;
}

.brd ul li strong {
    font-weight: normal;
    color: #333;
}

.brd .post-entry ul li strong {
    font-weight: bold;
}

.brd .ct-box .hn {
    border-color: #DBE0E4;
}

.brd .help-box {
    background: #f4f4f4;
}

.brd .frm-group, .brd .mf-set, .brd .sf-set, .brd .sf-box, .brd .mf-box, .brd .txt-set, .brd .txt-box {
    background: #F2F5F8;
    border-color: #DBE0E4;
}


.brd .frm-buttons {
    border-color: #DBE0E4;
}

.brd .checklist {
    background: #fff;
    border-color: #ccc;
}

.brd label, .brd .aslabel, .brd .mf-set legend, .brd .ct-legend * {
    color: #294F6E;
}

.brd .paging * {
    border-color: #dedfdf;
}


#brd-wrap .required label em, #brd-wrap #req-msg em {
    color: #b42000;
}

#brd-wrap .entry-content .quotebox, #brd-wrap .entry-content .codebox {
    background: #fff;
    border-color: #ddd;
}

.brd .main-options span.feed {
    background: url(feed-icon.png) center left no-repeat;
}

/* Menus
 ----------------------------------------------------------------*/

#brd-navlinks {
    background: #313D47;
    border-color: #313D47;
    color: #ddd;
}

#brd-navlinks a:link, #brd-navlinks a:visited {
    color: #ddd;
}

#brd-navlinks a:hover, #brd-navlinks a:active, #brd-navlinks a:focus {
    color: #fff;
    text-decoration: underline;
}

.brd .main-options, .brd .main-options span {
    border-color: #CBD1D8;
    background: #DDE4EB;
}

.brd .options span {
    border-color: #dedfdf;
}

.brd .main-options .options span {
    border-color: #ABAFB6
}

.brd .main-menu, .brd .admin-menu {
    background: #294F6E;
}

.brd .main-menu ul, .brd .admin-menu ul {
    border-right-color: #1A4566;
}

.brd .main-menu li, .brd .admin-menu li {
    border-left-color: #1A4566;
    border-right-color: #426482;
}

.brd .admin-submenu {
    background: #DFE6ED;
    border-color: #CBD1D8;
}

#brd-wrap .main-menu a:link, #brd-wrap .main-menu a:visited, #brd-wrap .admin-menu a {
    color: #ddd;
    text-decoration: none;
}

#brd-wrap .main-menu a:hover, #brd-wrap .main-menu a:active, #brd-wrap .main-menu a:focus,
#brd-wrap .admin-menu a:hover, #brd-wrap .admin-menu a:active, #brd-wrap .admin-menu a:focus {
    text-decoration: underline;
    color: #fff;
}

#brd-wrap .main-menu li.active a:hover, #brd-wrap .main-menu li.active a:active, #brd-wrap .main-menu li.active a:focus,
#brd-wrap .admin-menu li.active a:hover, #brd-wrap .admin-menu li.active a:active, #brd-wrap .admin-menu li.active a:focus {
    text-decoration: none;
}


#brd-wrap .main-menu li.active a, #brd-wrap .admin-menu li.active a {
    background: url(tab.png) bottom center no-repeat;
    color: #fff;
}

#brd-admod #alert a {
    color: #F6F8C7;
}

#brd-access a:hover, #brd-access a:active, #brd-access a:focus {
    background: #000;
    color: #fff;
    text-decoration: underline;
}

/* Logo and Headings
 ----------------------------------------------------------------*/

#brd-head {
    background: #517CA1;
    color: #ddd;
    border-color: #517CA1;
}

#brd-head a, #brd-head a:link, #brd-head a:visited {
    color: #fff;
}

.brd .main-head, .brd .main-pagehead {
    background: #294F6E;
    color: #ddd;
    border-color: #1f537b;
}

/* .brd #brd-admin-uresults .main-pagehead {
 background: none;
 color: #333;
    } */

.brd .main-subhead {
    border-color: #DFE6ED #DFE6ED #CBD1D8 #DFE6ED;
    background: #DFE6ED;
}

.brd .content-head, .brd th {
    background: #EDF1F5;
    border-bottom-color: #fff;
    border-top-color: #ddd;
}

.brd .group-head {
    background: #EDF1F5;
    border-color: #DBE0E4;
}

.brd .content-head .hn {
    border-bottom-color: #ddd;
}

.brd .main-head a:link, .brd .main-head a:visited {
    color: #ddd;
    text-decoration: none;
}

.brd .main-head a:hover, .brd .main-head a:active, .brd .main-head a:focus {
    color: #fff;
    text-decoration: underline;
}

.brd th {
    background: #DDE4EB;
}

.brd td {
    background: #f5f5f5;
}

/* Status indicators
 ----------------------------------------------------------------*/

.brd .main-content .main-item .icon {
    border-color: #EDF1F5 #DDE0E4 #C6CBD3 #BABFC6
}

.brd .main-content .redirect .icon {
    border-color: #f4f4f4 #f4f4f4 #f4f4f4 #f4f4f4
}

.brd .main-content .sticky .icon {
    border-color: #D7E5F3 #C3CFDC #9FB3C7 #90A2B4
}

.brd .main-content .closed .icon {
    border-color: #ACACAC #979797 #898989 #7A7A7A
}

.brd .main-content .sticky .closed {
    border-color: #D7E5F3 #C3CFDC #898989 #7A7A7A
}

.brd .main-content .new .icon {
    border-color: #2B75AD #235E8C #1F537B #266799
}

/* Announcement box
 ----------------------------------------------------------------*/

#brd-announcement {
    background-color: #f4f9fd;
}

#brd-announcement .msg-head {
    border-bottom: 1px dashed #bbb;
    color: #113c5e;
}

/* by vicalloy
 -------------------------------------------------------------*/
.brd .pagination * {
    border-color:#DEDFDF;
}

.brd .posthead .post-link {
    color:#006699;
}

.brd .errornote {
    color:#B42000;
}

.brd #uploaded_files .descn {
    background: url(note_edit.png) center left no-repeat;
}
.brd #uploaded_files .remove {
    background: url(delete.png) center left no-repeat;
}
.brd #uploaded_files .insert {
    background: url(arrow_up.png) center left no-repeat;
}
.brd #uploaded_files .removed-fn {
    text-decoration:line-through;
}
.brd .ajax-loader {
    background: url(ajax-loader.gif) center left no-repeat;
}
.brd .main-pagehead a:link, .brd .main-pagehead a:visited {
    color: #ddd;
    text-decoration: none;
}
.brd .main-pagehead a:hover, .brd .main-pagehead a:active, .brd .main-pagehead a:focus {
    color: #fff;
    text-decoration: underline;
}
.brd .postbody .need-reply {
    font-weight: bold;
    color: red;
}

.brd .main-pagehead a.selected {
    font-weight: bold;
	text-decoration: underline;
}
